body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

td {
    color : white;
    font-size: 1.3em;
}

td, th {
    text-align: center;
    height: 30px;
    vertical-align: middle;

}

th {
    font-weight: bold;
    font-size: 2.5em;

}

table {
    width: 100%;
    border: 1px solid gray
}

#pickedNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8em;
    height: 60vh;
}
.column {
    float: left;
    width: 45%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    width: 100%;
}

.btn {
    border-radius: 8px;
    width: 50px;
    border: none;
    background-color: gray;
    color:white;
    padding: 5px;
}
